/* styles.module.css */


  
  .navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #8B4513; /* Brown color */
	padding: 10px 20px; /* Adjust padding as needed */
  }
  
  .white_btn {
	/* Add styles for your white button */
	background-color: white;
	color: #8B4513; /* Brown color */
	padding: 8px 16px;
	border: none;
	cursor: pointer;
  }
  
  .white_btn:hover {
	/* Add styles for button hover effect if needed */
	background-color: #ddd;
  }
  