/* Dashboard.css */

.dashboard-container {
    display: flex;
    min-height: 100vh; /* Set a minimum height to fill the viewport */
  }
  
  aside {
    background-color: #010c13; /* Blue color */
    padding: 20px;
    color: white;
    min-width: 200px;
    transition: min-width 0.3s ease;
    display: flex;
    flex-direction: column;
  }
  
  .collapsed aside {
    min-width: 50px;
  }
  
  .toggle-btn {
    cursor: pointer;
  }
  
  nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  nav a:hover {
    background-color: #2980b9; /* Darker blue on hover */
  }
  
  nav a span {
    margin-left: 10px;
  }
  
  footer {
    margin-top: auto;
  }
  
  maind {
    flex: 1;
    padding: 20px;
    min-height: 100vh;
    background-image: url('C:\Users\user\OneDrive\Desktop\Book Store App\frontend\src\components\img\book6.jpg');
    overflow: hidden; /* Allow content to scroll if it overflows the main container */
  }
  
  /* Add some margin to the top to create space between header and main content */
  
  
  /* Center the main content vertically */
  .section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .dashboard-card {
    background-color: #021013; /* Light gray background for cards */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
  }
  
  .dashboard-card h3 {
    margin-bottom: 10px;
  }
  .user-card {
    width: 500px; /* Adjust as needed */
  }
  
  #mainuse-contents {
    flex: 1;
    padding: 20px;
    display: flex; /* Add this */
    flex-direction: row; /* Add this */
  }
  